[Desktop Entry]
Name=Stonecraft
GenericName=Stonecraft
Comment=Stonecraft infinite-world block sandbox
Comment[de]=Mehrspieler-Sandkastenspiel mit unendlichen Blockwelten
Exec=stonecraft
Icon=stonecraft
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
Categories=Game;Simulation;
StartupNotify=false
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
